@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* FullCalendar styles */
  --fc-button-bg-color: #1379b8;
  --fc-button-active-bg-color: #0a0f5a;
  --fc-border-color: none;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--text);
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--bg);
}

/* FullCalendar styles */
.fc .fc-toolbar-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text);
}
/* cursor: pointer for FC events and day*/
.fc-event {
  cursor: pointer;
}
.fc-daygrid-day {
  cursor: pointer;
}
/* FC day hover effect */
.fc-daygrid-day:hover {
  background-color: aliceblue;
}

button {
  cursor: pointer;
}
